@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Noto+Serif+JP:wght@200&display=swap');

h1 {
  font-family: 'Amatic SC';
  font-size: 36px;
}

h2 {
  font-family: 'Amatic SC';
  font-size: 28px;
}

p {
  font-family: 'Noto Serif JP';
}

a {
  color: black;
  font-family: 'Noto Serif JP';
  text-decoration: none;
}