.videoThumbnails {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 800px;

  img {
    cursor: pointer;
    margin: 5px;
  }

  img:hover {
    margin: 0px;
    border: solid 5px black;
  }
}