.videoThumbnails {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 800px;

  img {
    cursor: pointer;
    margin: 10px;
    transition-duration: .1s;
  }

  img:hover {
    width: 220px;
    margin: 0px;
    transition-duration: .1s;
  }
}

.selected {
  box-shadow: black 0px 0px 0px 10px;
}